.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__titulo{
  color: var(--cinza);
  margin-bottom: 0.4rem;
}

.formulario__campo{
  background-color: var(--fundo-campo-texto);
  width: 100%;
  height: 2.2rem;
  padding: 0.7rem 0;
  margin-bottom: 2rem;
  
  border: none;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.formulario__campo::placeholder{
  color: var(--cinza-claro);
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  text-align: center;
}

.formulario__campo--senha::placeholder{
  background: url('../img/icones/Olho.svg') no-repeat;
  background-position-x: 95%;
  
}

.formulario__link{
  color: var(--cor-botao);
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
  text-decoration: underline;
}

.formulario__botao{
  background-color: var(--cor-botao);
  color: var(--branco);

  font-family: var(--fonte-principal);
  font-weight: 600;

  padding: 0.8rem 3.2rem;
  margin-bottom: 10.5rem;

  border: none;
  border-radius: .6rem;
}

.formulario__botao--login{
  padding-inline: 4.9rem;
  margin-bottom: 24.7rem;
}